@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
	--container: lab(84.11% -0.9 -9.27);
	--container-lowered: lab(81.28% -0.39 -11.41);
	--accent: rgb(194, 119, 38);
	--accent-muted: rgb(202, 194, 186);
}

@theme inline {
	--color-accent: var(--accent);
	--color-accent-light: var(--accent-light);
	--color-accent-dark: var(--accent-dark);
	--color-accent-muted: var(--accent-muted);

	--color-container: var(--container);
	--color-container-lowered: var(--container-lowered);
	--color-container-raised: var(--container-raised);

	--color-background: var(--background);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);

	--color-foreground: var(--foreground);
	--color-foreground-darker: var(--foreground-darker);
	--color-secondary: var(--secondary);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--container: lab(30 -0.956401 -12.3224);
		--container-raised: rgba(255, 255, 255, 0.06);
		--container-lowered: lab(20 0.811279 -12.254);
		/* --container-lowered: lab(8.11897 0.811279 -12.254); */
		--accent-light: rgb(192, 145, 94);
		--accent-dark: rgb(105, 65, 22);
		--accent: rgb(194, 119, 38);
		--accent-muted: rgb(202, 194, 186);
		--foreground: #ededede2;
		--foreground-darker: #ededed92;
		--secondary: #ededed92;
		--scrollbar-track: transparent;
		--scrollbar-thumb: rgba(255, 255, 255, 0.06);
		--scrollbar-thumb-hover: rgba(255, 255, 255, 0.12);
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

/* this is to change the scrollbar design: */
html::-webkit-scrollbar {
	width: 0.5rem;
	background: transparent;
}

html::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 0.25rem;
	margin: 0.5rem 0;
}

html::-webkit-scrollbar-thumb {
	background: var(--bg-raised);
	border-radius: 0.25rem;
	margin: 0.5rem 0;
}

html::-webkit-scrollbar-thumb:hover {
	background: var(--highlight);
}
/* this is to change the scrollbar design: */
html::-webkit-scrollbar {
	width: 0.5rem;
	background: var(--scrollbar-track);
}

html::-webkit-scrollbar-track {
	background: var(--scrollbar-track);
	border-radius: 0.25rem;
	margin: 0.5rem 0;
}

html::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb);
	border-radius: 0.25rem;
	margin: 0.5rem 0;
	border: 3px solid transparent;
	background-clip: padding-box;
}

html::-webkit-scrollbar-thumb:hover {
	background: var(--scrollbar-thumb-hover);
}

/* Firefox */
html {
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}
